
h1 {
    color: blue;
    text-align: center;
}
h2 {
    color: cornsilk;}
.div {color: white;}
img {float: right;}
body { background-color: black;}
.div2 {color: cornsilk;}
#div1-id {color: white;
position: absolute;
left: 2%;}
